@import "reset.scss";
@import "mixins_n_vars.scss";
@import "type.scss";


body{
	height: 1024px;
	font-family: $font-stack-std;
	font-size: 16px;
	line-height: 1.24em;
	background-color: $colour-primary;
	@include transition-default(background-color);

	&.inverted-colour{
		background-color: $colour-secondary;
		color:$colour-primary;

		&.over{
			background-color: lighten($colour-secondary, 20%);
		}
	}

	&.over{
		background-color: darken($colour-primary, 20%);
	}

}

.intro{
	width: 100%;
	margin: 42px auto 0 auto;
	text-align: left;
	border-bottom: 1px solid $colour-primary-halftint;

	@include clearfix;

	.message{
		@include clearfix;

		max-width: 960px;
		margin: 0 auto;

		h1{
			display: block;
			@include box-sizing-borderbox;
			float: left;
			width: 39.0625%;

			padding: 100px 5.208333333% 100px 5.208333333%;

			font-family: $font-stack-bold;
			font-size: 36px;
			line-height: 1em;


			border-left: 1px solid $colour-primary-halftint;
			border-right: 1px solid $colour-primary-halftint;


			@include transition-default(margin-top);

			.iconed &{
				padding-top: 30px;
				padding-bottom: 30px;
			}
		}

		h2{
			display: block;
			@include box-sizing-borderbox;
			float: left;
			width: 60.9375%;
			padding: 100px 5.208333333% 88px 5.208333333%;
			border-right: 1px solid $colour-primary-halftint;

			font-size: 20px;
			line-height: 1.2em;

			.iconed &{
				padding-top: 30px;
				padding-bottom: 18px;
			}
		}
	}
}

.instruct{
	width: 100%;
	@include clearfix;

	@include transition-default(margin-top);
	@include transition-default(opacity);
	@include transition-default(height);
	
	.iconed &{
		margin-top: 0;
		opacity:0;
		height: 0;
	}

	p.message{
		display: block;
		width: 100%;
		max-width: 960px;
		margin:100px auto 100px auto;
		opacity: 1;

		text-align: center;

		.iconed &{
			margin-top: 0;
			opacity:0;
			height: 0;
		}
	}


}


header{
	width: 100%;
	background-color: $colour-secondary;
	position: absolute;
	top:0;
	left:0;
	height: 42px;

	@include clearfix;

	.btn{
		color: $colour-primary;
		font-size: 14px;
		font-family: $font-stack-light;
		line-height: 1em;
		margin: 0.5em 0 0.5em 0;
		float: right;

		.inverted-colour &{
			color: $colour-secondary;
		}
	}

	.inverted-colour &{
		background-color: $colour-primary;
	}
}

#data{
	width: 100%;
	margin: 0 auto;

	.svg-icon-shell{

		width: 100%;
		margin: 0 auto;
		border-top: 1px solid transparent;
		border-bottom: 1px solid $colour-primary-halftint;
		padding: 20px 0 55px 0;

		&:hover{
			cursor: pointer;
			border-top: 1px solid lighten($colour-secondary, 70%);
			border-bottom: 1px solid lighten($colour-secondary, 70%);
			box-shadow: 0 0 5px lighten($colour-secondary, 70%);

			.filename .remove-icon{
				display: block;
			}
		}

		.inverted-colour & {
			border-bottom: 1px solid $colour-secondary-halftint;

			&:hover{
				border-top: 1px solid darken($colour-primary, 70%);
				border-bottom: 1px solid darken($colour-primary, 70%);
				box-shadow: 0 0 5px darken($colour-primary, 50%);
			}
		}

		.svg-icon{
			background-repeat: no-repeat;
			background-position: left top;
			@include box-sizing-borderbox;
			padding: 0 4% 0 4%;
			display: block;
			width: 100%;
			max-width: 960px;
			margin: 0 auto;
		}

		.filename{
			display: block;
			@include clearfix;
			width: 100%;
			max-width: 960px;
			margin: 0 auto;
			position: relative;

			@include clearfix;

			p{
				display: block;
				position: absolute;
				bottom: 0;
				margin-left: 5.208333333%;
				top: 6px;
				height: 1em;
				background-color: lighten($colour-secondary, 80%);
				color: lighten($colour-secondary, 50%);
				padding: 0.25em 0.5em;
				border-radius: 3px;

				.inverted-colour &{
					background-color: darken($colour-primary, 80%);
					color: darken($colour-primary, 50%);
				}
			}

			.remove-icon{
				display: none;
				position: absolute;
				right:0;
				text-decoration: none;
				padding: 0.25em 0.75em 0.25em 0.75em;
				border: 1px solid $colour-secondary;
				color: $colour-secondary;
				border-radius: 3px;

				&:hover{
					background-color: $colour-secondary;
					color:$colour-primary;
				}

				.inverted-colour &{

					border: 1px solid $colour-primary;
					color: $colour-primary;

					&:hover{
						background-color: $colour-primary;
						color:$colour-secondary;
					}
				}
			}
		}

		

	}

}

#format-shell{
	display: none;
}

#outputs-shell{
	display: none;
}

.shown{
	display: block !important;
	visibility: visible !important;
}